<div class="row">
    <div class="col text-center">
        <img src='images/foto-2.jpg', alt="Hendrik" class="img-thumbnail rounded-circle" width="200">
        <h1 class="display-4">Hendrik</h1>
        <p class="lead">Pengangguran</p>
    </div>
</div>
