<% if(typeof mahasiswa !== "undefined") {%> <% mahasiswa.forEach(mhs => { %>
<div class="container">
  <ul>
    <li>Nama : <%= mhs.nama %></li>
    <li>Email : <%= mhs.email %></li>
  </ul>
</div>
<% }) %> <% } %>
